services:
  wiki-bot:
    image: ghcr.io/alexbernardi360/wiki-bot:latest
    # build: . # Uncomment if you want to build locally
    container_name: wiki-bot
    restart: always
    env_file:
      - .env
    volumes:
      - sqlite_data:/app/data
    ports:
      - '3000:3000'

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 300 --cleanup
    restart: always

volumes:
  sqlite_data:
